.iso__detail {
  padding: 8px 0;

  .iso__detail-heading {
    display: flex;
    padding-bottom: 8px;
    border-bottom: solid 1px rgb(45,52,71);

    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 24px;
      border-radius: 2px;
      background-color: rgb(250, 34, 30);
      margin-right: 8px;
    }
  }

  .iso__detail-info-wrapper {
    margin: 12px 0;
    border-bottom: solid 1px #f1f3f6;

    .iso__detail-info-wrapper-two-line {
      display: inline-grid;
    }
  }

  .iso-heading-label {
    margin-bottom: 10;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0,0,0);
  }

  .iso-info-label {
    width: 180px;
    display: inline-block;
    letter-spacing: normal;
    font-size: 16px;
  }

  .iso-info-detail {
    display: inline-block;
  }
}
.ant-card-head-title {
  color: #6f6787
}

.table-list-reward {
  bottom: 8px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  width: 300px;
}