.btn__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 24px;

  .btn__wrapper--left {
    margin: 0 16px 0 0;
    display: flex;
    align-items: center;
  }
}

.btn-success {
  color: #ffff;
  background-color: rgba(40, 167, 69, 1);
  border-color: rgba(40, 167, 69, 1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  &:hover, &:focus, &:active {
    color: #ffff;
    background-color: rgba(40, 167, 69, .68);
    border-color: rgba(40, 167, 69, .68);
  }
}

.table-wrapper {
  .table {
    .ant-table-thead, .ant-table-tbody {
      font-size: 14px;
    }
    .ant-pagination-item-link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ant-pagination-jump-prev, .ant-pagination-jump-next {
      .ant-pagination-item-link {
        height: 100%;
      }
    }
  }
}

.btn-back {
  color: #ffff;
  background-color: #2c3348;
  &:hover, &:focus, &:active {
    color: #ffff;
    background-color: #3d455e;
    border-color: #2d3449;
  }
}
