.layout__content-wrapper {
    .layout__content {
        transition: margin .2s;
        margin: 88px 16px 24px calc(16px + #{$sidebar-width});
        background-color: #fff;
    }
    &.collapsed {
        .layout__content {
            margin-left: calc(16px + #{$sidebar-width-collapsed});
        }
    }
}

.layout__headers {
    background: transparent;
    padding: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-left: $sidebar-width;
    transition: padding-left .2s;
    .layout__headers--wrapper {
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 32px 0 0;
        .layout__headers--icon {
            padding: 24px 16px;
            width: 48px;
            cursor: pointer;
        }
        .layout__headers--right-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .layout__headers--menu-wrapper {
                margin-right: 6px;
                min-width: 48px;
                height: 85%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s;
                .anticon svg {
                    width: 24px;
                    height: 24px;
                }
                &:hover {
                    background-color: #e3e3e3;
                }
            }
        }
    }
    &.collapsed {
        padding-left: $sidebar-width-collapsed;
        .layout__headers--wrapper {
        }
    }
}

.layout__sidebar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    flex: 0 0 $sidebar-width !important;
    max-width: $sidebar-width !important;
    min-width: $sidebar-width !important;
    width: $sidebar-width !important;
    transition: all .2s;
    .layout__sidebar--logo {
        transition: all .2s;
        height: 64px;
        background-color: #F7262A;
        text-align: center;
        margin: 0 0 24px;
        overflow: hidden;
        img {
            width: 120px;
            margin: 12px;
        }
    }
    &.collapsed {
        flex: 0 0 $sidebar-width-collapsed !important;
        max-width: $sidebar-width-collapsed !important;
        min-width: $sidebar-width-collapsed !important;
        width: $sidebar-width-collapsed !important;
        .layout__sidebar--logo {
            img {
                width: 38px;
            }
        }
    }
}

.ant-pagination-jump-prev, .ant-pagination-jump-next {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 6px;
    }
}

.LayoutContentWrapper {
  min-height: calc(100vh - calc(90px + 22px));
  padding: 24px;
  border: 1px solid #eaebec;
}